{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}

  {{> "post"}}

{{/foreach}}

{{! Previous/next page links - displayed on every page }}
<div class="container">
{{pagination}}
</div>
