{{> "header"}}

<body class="{{body_class}}">
    <header class="fullsize-header" style="background-image: url({{@blog.cover}})">
    <h1 class="sr">Hi i am zvaehn. Student. Devleoper and Shutterbug.</h1>

    <ul class="social-list" data-parallax-warp="1.5">
      <li>
        <a href="http://twitter.com/zvaehn" target="_blank">
          <svg class="icon"><use xlink:href="/assets/svg/map-social2.svg#social2-twitter"></use></svg>
        </a>
      </li>
      <li>
        <a href="http://facebook.com/svenschiffer92" target="_blank">
          <svg class="icon"><use xlink:href="/assets/svg/map-social2.svg#social2-facebook"></use></svg>
        </a>
      </li>
      <li>
        <a href="http://github.com/zvaehn" target="_blank">
          <svg class="icon"><use xlink:href="/assets/svg/map-social2.svg#social2-github"></use></svg>
        </a>
      </li>
      <li>
        <a href="http://flickr.com/zvaehn" target="_blank">
          <svg class="icon"><use xlink:href="/assets/svg/map-social2.svg#social2-flickr"></use></svg>
        </a>
      </li>
      <li>
        <a href="http://xing.com/profile/Sven_Schiffer4" target="_blank">
          <svg class="icon"><use xlink:href="/assets/svg/map-social2.svg#social2-xing"></use></svg>
        </a>
      </li>
      <li>
        <a href="mailto:sven@51seven.de">
          <svg class="icon"><use xlink:href="/assets/svg/map-social2.svg#social2-paperplane"></use></svg>
        </a>
      </li>
    </ul>

    <div class="idontknowanamefothisyet" data-parallax-warp="4">
      <div class="title">
        <div class="logo"><a href="/"><img src="/assets/img/logo.svg"></a></div>
      </div>
      <span class="subtitle">student. developer. shutterbug.</span>
    </div>

    <div class="action js-skip-header" data-fade-out="0" data-fade-out-length="30">
      <button class="button -circle"><svg role="presentation" class="icon"><use xlink:href="/assets/svg/map-general.svg#general-chevron-down"></use></svg></button>
    </div>
  </header>

  <main>
    {{{body}}}
  </main>

  {{> "footer"}}
</body>
</html>
