{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
  attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<div class="container">
  <div class="row">
    <article class="static-page">
      <h2 class="headline">{{title}}</h2>
      <div class="content">{{content}}</div>
    </article>
  </div>
</div>
{{/post}}
