{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

  {{> "post"}}

  <nav class="post-pagination -simple" role="navigation">
    <div class="row">
      <div class="wrapper">
        <div class="newer">
          {{#next_post}}
              <a class="newer-posts" href="{{url}}">&#10094; Newer</a>
          {{/next_post}}
        </div>
        <div class="older">
          {{#prev_post}}
              <a class="older-posts" href="{{url}}">Older &#10095;</a>
          {{/prev_post}}
        </div>
      </div>
    </div>
  </nav>

{{/post}}
