.button {
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }

  &.-circle {
    .icon {
      fill: $white;
    }
  }

  &.-rounded {
    border: 1px solid $border-color;
    border-radius: 30px;
    padding: 10px;
  }
}