.blog-post {
  border-bottom: 1px solid $post-seperator-color;

  &:last-of-type {
    //border-bottom: none;
  }
}

.blog-post > .wrapper {
  @extend .container;

  padding: 60px 0;

  .headline {
    @extend .col;
    @extend .col.s12;
    @extend .col.m9;
    @extend .col.offset-m3;

    margin-top: 0;
    margin-bottom: 30px;
    color: $post-headline-color;
    font-size: 40px;
    font-weight: 400;

    > a:hover {
      text-decoration: none;
    }
  }

  > .row {
    margin-bottom: 0;
  }

  .meta {
    @extend .col;
    @extend .col.s12;
    @extend .col.m3;

    font-size: 12px;
    margin-bottom: 30px;

    .icon {
      float: left;
      height: 16px;
      width: 16px;
      margin-right: 7px;

      fill: $icon-dark-color;
    }

    > .published {
      margin-bottom: 15px;
      display: block;
    }

    > .tags {
       @extend .tag-list;
    }
  }

  .content {
    @extend .col;
    @extend .col.s12;
    @extend .col.m9;

    font-size: 20px;
    line-height: 33px;
    color: $text-color;

    code {
      @extend .code;
    }

    img {
      width: 100%;
      height: auto;
    }
  
    > p:first-of-type {
      margin-top: -8px;
    }

    > p:last-of-type {
      margin-bottom: 0;
    }
  }
}