.idontknowanamefothisyet {
  color: $white;
  height: 210px;

  .title {
    position: relative;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 140px;
  }

  .logo {
    position: relative;
    display: inline-block;

    &:before {
      content: 'hi, im';
      text-transform: uppercase;
      position: absolute;
      left: -250px;

      @include breakpoint(tablet) {
        display: none;
      }
    }

    &:after {
      content: 'zvaehn';
      text-transform: uppercase;
      position: absolute;
      right: -340px;

      @include breakpoint(tablet) {
        display: none;
      }
    }

    img {
      position: absolute;
      left: -40px;
      top: -20px;
      height: 115px;
      width: 80px;
    }
  }

  .subtitle {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  }
}