.tag-list {
  @extend .item-list;

  list-style-type: none;
  display: block;
  
  > li {
    display: inline-block;
    line-height: 17px;

    &:after {
      content: ', ';
    }

    &:last-of-type:after {
      content: none;
    }
  }

  > li > a {
    text-decoration: none;
    color: $link-color;

    &:hover {
      color: $link-color-hover;
      border-bottom: 1px solid $link-color-hover;
    }
  }


}