$white: #FFF;
$mercury: #E9E9E9;
$alto: #d5d5d5;
$emperor: #545454;
$mineshaft: #333;
$black: #000;

$apple-blossom: #ae3f3f;

$primary: $apple-blossom;




$text-shadow: $emperor;
$text-color: $emperor;
$border-color: $alto;

$icon-dark-color: $mineshaft;
$icon-light-color: $white;

$post-headline-color: $emperor;
$post-seperator-color: $border-color;

$link-color: $text-color;
$link-color-hover: $primary;